<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>

    <h1>Projet SI 2024</h1>
    <h2>Modèles Teachable Machine</h2>
    <h3>Liste des modèles</h3>
    <ul>
        {% for item in list_id_teachable %}
        <li><a href="https://teachablemachine.withgoogle.com/models/{{ item }}" target="_blank">{{ item }}</a> - 
            {% if modele_teachable_actif == item %}Actif {% else %} <a href="/?id={{ item }}">Activer</a>{% endif %}</li>
        {% endfor %}
    </ul>
    <h3>Envoi d'un modèle non listé</h3>

    <form action="/" method="POST">
        <label for="id_teachable">id du modèle sur teachable machine</label><br>
        <input id="id_teachable" type="text" name="id_teachable">
        <div>
            <button type="submit">Envoyer</button>
        </div>
    </form>

    <h2>Modèle actif</h2>
    <h3>{{ modele_teachable_actif }}</h3>
    <button type="button" onclick="init()">Démarrer la caméra</button>
    <div id="webcam-container"></div>
    <div id="label-container"></div>
    <script src="https://cdn.jsdelivr.net/npm/@tensorflow/tfjs@latest/dist/tf.min.js"></script>
    <script
        src="https://cdn.jsdelivr.net/npm/@teachablemachine/image@latest/dist/teachablemachine-image.min.js"></script>
    <script type="text/javascript">
        // More API functions here:
        // https://github.com/googlecreativelab/teachablemachine-community/tree/master/libraries/image

        // the link to your model provided by Teachable Machine export panel
        const URL = "https://teachablemachine.withgoogle.com/models/FXJoVB2HU/";
        const modelURL = URL + "model.json";
        const metadataURL = URL + "metadata.json";
        let model, webcam, labelContainer, maxPredictions;

        // Projet SI
        let etiquetteActive, derniereEtiquetteEnvoyee = ""

        // Load the image model and setup the webcam
        async function init() {


            // load the model and metadata
            // Refer to tmImage.loadFromFiles() in the API to support files from a file picker
            // or files from your local hard drive
            // Note: the pose library adds "tmImage" object to your window (window.tmImage)
            model = await tmImage.load(modelURL, metadataURL);
            maxPredictions = model.getTotalClasses();
            console.log(model)

            // Projet SI : on envoie les infos descriptivess du modèle au 
            extractLabels();

            // Convenience function to setup a webcam
            const flip = true; // whether to flip the webcam
            webcam = new tmImage.Webcam(200, 200, flip); // width, height, flip
            await webcam.setup(); // request access to the webcam
            await webcam.play();
            window.requestAnimationFrame(loop);

            // append elements to the DOM
            document.getElementById("webcam-container").appendChild(webcam.canvas);
            labelContainer = document.getElementById("label-container");
            for (let i = 0; i < maxPredictions; i++) { // and class labels
                labelContainer.appendChild(document.createElement("div"));
            }
        }
        function extractLabels() {
            // Assuming the labels are stored in the metadata
            fetch(metadataURL)
                .then(response => response.json())
                .then(metadata => {
                    labels = metadata.labels;
                    console.log('Labels extracted:', labels);
                    sendLabelsToFlask(labels);
                });
        }

        async function sendLabelsToFlask(labels) {
            fetch('load_labels', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json',
                },
                body: JSON.stringify({ labels: labels })
            })
                .then(response => response.json())
                .then(data => {
                    console.log('Labels sent to Flask:', data);
                })
                .catch((error) => {
                    console.error('Error sending labels:', error);
                });
        }


        async function loop() {
            webcam.update(); // update the webcam frame
            await predict();
            window.requestAnimationFrame(loop);
        }

        // run the webcam image through the image model
        async function predict() {
            // predict can take in an image, video or canvas html element
            const prediction = await model.predict(webcam.canvas);
            for (let i = 0; i < maxPredictions; i++) {
                const classPrediction =
                    prediction[i].className + ": " + prediction[i].probability.toFixed(2);
                labelContainer.childNodes[i].innerHTML = classPrediction;
                // Projet SI : si l'étiquette qui fait 100% n'est pas l'étiquette active
                if (prediction[i].probability.toFixed(2) == 1.00 && prediction[i].className != etiquetteActive) {
                    etiquetteActive = prediction[i].className
                    console.log("Nouvelle classe active : " + etiquetteActive)
                }
            }

            // Décision pour le choix de la boite
            // Envoi de l'étiquette au serveur Flask si elle est différente
            if (etiquetteActive !== derniereEtiquetteEnvoyee) {
                fetch('selectBoite', {
                    method: 'POST',
                    headers: {
                        'Content-Type': 'application/json',
                    },
                    body: JSON.stringify({ label: etiquetteActive })  // Remplacez par l'étiquette correspondante
                })
                    .then(response => response.json())
                    .then(data => {
                        console.log('Success:', data)
                        derniereEtiquetteEnvoyee = etiquetteActive;
                    })
                    .catch((error) => {
                        console.error('Error:', error);
                    });
            }
        }
    </script>

</body>

</html>